*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    color:#f8f8f8;
}

ul{
    list-style: none;
}

.navbar-color{
    color: #f8f8f8;
}

.nav-img{
    width: 250px;
    padding: 15px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

.hero-img {
    width: auto;
}

.gradient{
    background: rgb(0,212,255, 0.2);
    background: linear-gradient(140deg, rgba(0,212,255,0.5) 0%, rgba(214,34,172,0.5
    ) 100%);
}

.section-lightgrey{
    padding: 120px 20px 150px 20px;
    background-color: #f8f8f8;
}

.section-white{
    padding: 120px 20px 150px 20px;
    background-color: #ffffff;
}

.section-blank{
    padding: 120px 20px 150px 20px;
}

.contenedor{
    padding-bottom: 50px;
}

.box-grid{   
    display: grid;
    grid-template-columns: 25% 25% 25%;
    
}

.item{
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}

.ph-duotone{
    font-size: 42px;
}

.info-white{
    color: #ffffff;
}

.form-news{
    margin: 0 auto;
    width: 500px;
}

.input-news{
    height: 40px;
    width: 250px;
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    margin-left: 30px; 
}

.button-news{
    height: 40px;
    width: 160px;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    background-color: aqua;
}

.footer{
    width: 100%;
    background-color: #434343;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin: 0 auto;
    padding: 50px;
    color: #b1b1b1;
}

.footer-img{
    width: 250px;
}

.social-icons{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

@media only screen and (max-width: 320px) {

    .nav-img{
        width: 150px;
        padding: 5px;
    }

    .hero-img {
        width: 100%;
    }

    .box-grid{
        grid-template-columns: 100%;
    }

    .item{
        border: 0px solid black;
        padding-bottom: 10px;
        margin: 0px;
    }

    .item-320{
        width: 270px;
    }

    .form-news{
        margin: 0 auto;
        width: auto;
    }
    
    .input-news{
        height: 40px;
        width: 100%;
        border-radius: 10px 10px 10px 10px;
        border: 0px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    
    .button-news{
        height: 40px;
        width: 100%;
        border-radius: 10px 10px 10px 10px;
        border: 0px;
        background-color: aqua;
    }

    .footer{
        width: 100%;
        background-color: #434343;
        display: grid;
        grid-template-columns: 100%;
        margin: 0 auto;
        padding: 10px;
        color: #b1b1b1;
    }
    
    .footer-img{
        width: 200px;
    }
}