*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-color{
    color: #f8f8f8;
}

.nav-img{
    width: 250px;
    padding: 15px;
}

hr{
    color:#f8f8f8;
}

ul{
    list-style: none;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

.gradient{
    background: rgb(0,212,255, 0.2);
    background: linear-gradient(140deg, rgba(0,212,255,0.5) 0%, rgba(214,34,172,0.5
    ) 100%);
}

.section-lightgrey{
    padding: 120px 20px 150px 20px;
    background-color: #f8f8f8;
}

.section-white{
    padding: 120px 20px 150px 20px;
    background-color: #ffffff;
}

.section-blank{
    padding: 120px 20px 150px 20px;
}

.contenedor{
    padding-bottom: 50px;
}

.box-grid{   
    display: grid;
    grid-template-columns: 25% 25% 25%;
    padding: 20px;
}

.item{
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}

.ph-duotone{
    font-size: 42px;
}

.info-white{
    color: #ffffff;
}

.form-news{
    margin: 0 auto;
    width: 500px;
}

.input-news{
    height: 40px;
    width: 250px;
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    margin-left: 30px; 
}

.button-news{
    height: 40px;
    width: 160px;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    background-color: aqua;
}

.footer{
    width: 100%;
    background-color: #434343;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin: 0 auto;
    padding: 50px;
    color: #b1b1b1;
}

.footer-img{
    width: 250px;
}

.social-icons{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}